/* 폰트 */
html>body * {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 커스텀 */
.con-min-width {
  min-width: 1920px;
}

.con {
  width: 1280px;
}

:root {
  --font-family-regul: 'Noto Sans KR', sans-serif;
  --font-family-Ral: "Raleway", sans-serif;
  --PoppinsSemi: "PoppinsSemi", sans-serif;
  --wp--color--pumser--orange: #e24320;
  --orange: #e24320;
  --navy: #2a3241;
  --normal--text--color: #333;
  --white: #fff;
  --gray: #c5c5c5;
  --text--gray: #020202;
  --navy: #2a3241;
  --action--menu--height: 64px;
}

/* 헤더 */
header {
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.sm-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.language {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  font-size: 1.2rem;
}

/* top */
p,
a,
span,
strong,
button,
h2,
h1,
h3 {
  line-height: 140%;
  color: var(--normal--text--color);
}

section.top {
  width: 100%;
  display: flex;
  height: 67vh;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;

}

section.top .sub-title {
  font-size: 3rem;
  font-family: var(--PoppinsSemi);
}

section.top .title {
  font-size: 8rem;
  ;
}

section.top .title strong {
  color: var(--wp--color--pumser--orange);
}

.fademove {
  opacity: 0;
  -webkit-transition: all .8s cubic-bezier(.3, .1, .3, 1);
  transition: all .8s cubic-bezier(.3, .1, .3, 1);
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
  backface-visibility: hidden;
  transition-delay: 10;
}

.fademove.is-visible {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* 마우스 모션 */
.scrollWrap {
  position: absolute;
  width: 100%;
  height: 8rem;
  left: 47.4%;
  bottom: 120px;
  /* top: 66%; */
  transform: translate(-50%, -50%);
  width: 4.5em;
  text-align: center;
  transform: scale(0.6);
}

.scroll-icon {
  position: absolute;
  /* margin: 2em; */
  width: 100%;
  height: 100%;
  border: .2em solid #000;
  border-radius: 4em;
  /* left: 50%; */
  /* transform: translate(-50%, 52%); */
}

.scroll-icon.ex-1 .wheel {
  position: absolute;
  left: 50%;
  top: 15%;
  width: .5em;
  height: .5em;
  background-color: #000;
  transform: translate(-50%, 0);
  border-radius: .6em;
  animation: ex-1-wheel 1s ease-in-out infinite;
}

.scrollWrap span {
  position: absolute;
  bottom: -18px;
  font-size: 1.5rem;
  left: 50%;
  transform: translate(-50%, 52%);
}

@keyframes ex-1-wheel {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }

  20%,
  70% {
    opacity: 1;
  }

  90%,
  100% {
    transform: translate(-50%, 300%);
    opacity: 0;
  }
}

/* menu-bar*/
.menu-bar {
  margin-top: 150px;
  height: 60px;
  background-color: #e24320;
  width: 100%;
  border-radius: 50px;
  box-shadow: 4px 4px 12px #818181,
    2px 2px 4px #444444;
}

.menu-bar>div>span {
  display: flex;
  height: 42px;
  align-items: center;
  padding: 0 30px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.menu-bar>div>span:hover {
  background-color: rgba(255, 255, 255, .2);
}

/* 상품목록 */
.product-list {
  margin-top: 80px;
}

.product-list .title .en {
  font-size: 32px;
}

.product-list .title .ko {
  font-size: 40px;
  font-weight: 500;
}

.product-list>.product-1__section {
  margin-top: 80px !important;
  width: 1100px;
  margin: 0 auto;
}

.product-list>.product-1__section>div {
  height: 500px;
  overflow-x: hidden;
}

.product-list>.product-1__section>div>.img-box {
  transition: .3s;
  cursor: pointer;
  background-color: #e8f0fa;
  border-radius: 20px;
}

.product-list>.product-1__section>div>.img-box>img {
  background-color: #e8f0fa;
  border-radius: 20px !important;
}

.product-list>.product-1__section>div>.img-box:hover {
  transform: translatex(-100%);
}

.product-list>.product-1__section .txt-box {
  margin-top: 20px !important;
  margin-left: 8px;
}

.product-list>.product-1__section .txt-box {
  margin-top: 20px !important;
}

.product-list>.product-1__section .txt-box>.txt-box__xl {
  font-weight: 500;
  font-size: 18px;
}

.product-list>.product-1__section .txt-box>.txt-box__sm>span {
  color: #767676;
  font-weight: 300;
}

.product-list>.product-1__section .btn {
  margin-top: 20px;
  background-color: #191919;
  width: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  transition: .3s;
  cursor: pointer;
  margin-left: 8px;
}

.product-list>.product-1__section .btn>span {
  color: white;
  transition: .3s;
}

.product-list>.product-1__section .btn:hover>span:nth-child(2) {
  color: gray;
}

.product-list>.product-1__section .btn:hover {
  transform: scale(1.05);
}

/* 2차 상품 목록 */
.product-2 {
  margin-top: 120px;
}

.product-list>.product-2__section {
  margin-top: 80px !important;
  width: 1100px;
  margin: 0 auto;
}

.product-list>.product-2__section>div {
  height: 500px;
  overflow-x: hidden;
}

.product-list>.product-2__section>div>.img-box {
  transition: .3s;
  cursor: pointer;
  border-radius: 20px;
}

.product-list>.product-2__section>div>.img-box>img {
  background-color: #e8f0fa;
  border-radius: 20px;
}

.product-list>.product-2__section>div>.img-box:hover {
  transform: translatex(-100%);
}

.product-list>.product-2__section .txt-box {
  margin-top: 20px !important;
  margin-left: 8px;
}

.product-list>.product-2__section .txt-box {
  margin-top: 20px !important;
}

.product-list>.product-2__section .txt-box>.txt-box__xl {
  font-weight: 500;
  font-size: 18px;
}

.product-list>.product-2__section .txt-box>.txt-box__sm>span {
  color: #767676;
  font-weight: 300;
}

.product-list>.product-2__section .btn {
  margin-top: 20px;
  background-color: #191919;
  width: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  transition: .3s;
  cursor: pointer;
  margin-left: 8px;
}

.product-list>.product-2__section .btn>span {
  color: white;
  transition: .3s;
}

.product-list>.product-2__section .btn:hover>span:nth-child(2) {
  color: gray;
}

.product-list>.product-2__section .btn:hover {
  transform: scale(1.05);
}

/* 푸터 */
.line {
  width: 100%;
  height: 1px;
  background-color: #9b9b9b;
  margin: 120px 0 0 0;
}

footer{
  padding: 60px 0;
}

footer .txt-box .txt-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .txt-box .txt-1 span{
  color: #575757;
}

footer .txt-box .txt-1 .point {
  color: #e24320;
  font-weight: 500;
}

footer .txt-box .txt-1 .btn {
  border-radius: 30px;
  padding: 8px 16px;
  background-color: #d8d8d8;
}

footer .txt-box .txt-1 .btn span{
  color:#191919;
}

footer .txt-box .txt-2 span{
  color: #575757;
}